.input-container {
    margin-top: 10px;;
}

.dificult-title {
    font-weight: bold;
    margin-right: 10px;
}

input {
    border-radius: 5px;
    padding: 3px;
    width: 80px;
    text-align: center;
}