@import "../../mainStyles/variables.scss";

button {
  padding: 0px 10px;
  text-align: center;
  display: inline-block;
  transition: 300ms;
  border: 0;
  width: auto;
  height: 35px;
  cursor: pointer;
  font-size: 12px;

  &:focus {
    outline: 0;
  }
}

.button-container {
  padding: 10px;
  display: inline-block;
  max-width: 100%;
}

.button-modal {
  border-radius: 6px;
  width: 80px;
  height: 40px;
  padding: 10px;
  font-size: 13px;

  &.primary-button {
    background-color: $green;
    color: $white;
  }

  &.secondary-button {
    background-color: $white;
    color: $black;
    margin-left: 40px;
  }

  &.form-balance {
    text-align: center;
  }
}

.cancel-button {
  background-color: $red;
  color: $white;
  border-radius: 6px;
  width: 80px;
  height: 40px;
  padding: 10px;
  font-size: 13px;
}

.page-button {
  background-color: $green;
  border-radius: 6px;
  width: 80px;
  height: 40px;
  padding: 10px;
  font-size: 13px;
}
