*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
  background: #f4f4f4;
}

.clear {
  clear: both;
  content: "";
}

.cell {
  background: #7b7b7b;
  border: 1px solid #fff;
  float: left;
  line-height: 45px;
  height: 45px;
  text-align: center;
  width: 45px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;

  &:focus {
    outline: none;
  }
}

.hidden {
  background: #2e2829;
}

.is-flag,
.is-mine {
  color: #fc543c;
}
.revealed {
    background-color: white;
}
