@import "../../mainStyles/variables.scss";

.modal {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  z-index: 25;
  background-color: rgba(0, 0, 0, 0.3);

  .modal-container {
    display: block;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px 0;
    background-color: $white;
    border-radius: 15px;
    max-width: 430px;
    overflow: auto;
    max-height: 100%;
    width: 100%;
  }

  .modal-header {
    display: inline-block;
    width: 100%;
    padding: 0;
    text-align: center;
    border-bottom: 2px solid $border;

    h2 {
      margin: 0;
      padding-bottom: 15px;
      color: $light-gray;
      font-size: 16px;
      display: inline-block;
    }
  }

  .modal-content {
    width: 90.7%;
    font-size: 14px;
    text-align: justify;
    margin-top: 30px;
    padding: 0 20px;
    text-align: center;;
  }

  .modal-footer {
    text-align: center;

    .buttons {
      display: inline-block;
      width: 100%;
      padding: 0;
      margin-top: 30px;
    }
  }
}
