@import '../../assets/styles/_shared';
@import '../../assets/styles/_mixin';
@import '../../assets/styles/variable';
@import '../../assets/styles/main.css';

body{ margin: 0; padding: 0; }
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
  background: #f4f4f4;
}

.clear {
  clear: both;
  content: "";
}

.game {
  width: auto;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  

  .game-info {
    width: 550px;
    margin-bottom: 30px;
    background: #19a0d9;
    padding: 7px;
    text-align: center;
    color: #fff;
    min-height: 100px;
    border-radius: 7px;
    .info {
      display: block;
      margin-top: 15px;
    }
  }

  .buttons-container {
    align-items:  center;
    justify-content: center;
    display: inline;
  }

}
