$white: #fff;
$appBG: #ecf1f7;
$grey: #c4cdd8;
$red: #FF0000;
$yellow: #ffcb04;
$purple: #5c27af;
$darker: #30323e;
$dark-gray: #32384b;
$light-gray: #3a435a;
$lighter-gray: #7f8991;
$black: #000;
$border: #c4cdd8;
$green: #43cb81;
