@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
    }
}

@mixin media_breakpoint($screen) {
  @media (max-width: $screen+"px") {
    @content;
  }
}

@mixin height_media_breakpoint($screen) {
  @media screen and (max-height: $screen+"px") {
    @content;
  }
} 
  