$black: #000;
$lightBlack: #000000d6;
$white: #FFF;
$yellow: #FFCC01;
$blue: #375DAA;
$red: #DB0A0A;
$lightRed: #FA8072;
$darkGrey: #333;
$lightGrey: #D3D3D3;
$gray: #F6F6F6;
$whiteOpacity: #ffffffd6;
$transparent: transparent;